<script id="otp-intermediateStopsLayer-popup" type="text/html">

    <div>
        <div style="font-weight: bold; font-size: 16px;">
            {{#titleLink}}<a href="{{titleLink}}" target="_blank">{{/titleLink}}
            {{name}}
            {{#titleLink}}</a>{{/titleLink}}
        </div>

        {{#desc}}
            <div style="font-style: italic; font-size: 11px;">{{desc}}</div>
        {{/desc}}
        {{#tripData.agencyName}}
            <div style="font-weight: bold; font-size: 12px;">{{tripData.agencyName}}</div>
        {{/tripData.agencyName}}

        <!--div class="intermediateStopsLayer-popup-route-n-time">
            <div style="font-weight: bold; font-size: 12px;" class="text-no-wrap">{{tripData.routeShortName}}</div>
            <div class="stopPopupFooter" style="margin-top: 6px;"></div>
        </div-->

        <div style="font-weight: bold; font-size: 12px;">{{tripData.routeShortName}}</div>
        <div class="stopPopupFooter" style="margin-top: 6px;"></div>

        <div style="font-size: 10px;">
            [
			<a href="#" class="stopViewerLink">{{stop_viewer}}</a>
            {{#url}}
                | <a href="{{url}}" target="_blank">{{agencyStopLinkText}}</a>
            {{/url}}
            ]
        </div>
		<div style="margin-top: 6px;"><b>{{plan_trip}}</b>: [ <a href="#" class="planFromLink">{{from_stop}}</a> | <a href="#" class="planToLink">{{to_stop}}</a> ]</div>		
    </div>
</script>

<script id="otp-intermediateStopsLayer-popupTime" type="text/html">
    <ul class="timeList">
    	<li style="margin: 0px;" class="text-no-wrap">{{arrivalTranslated}}: {{formattedRealtimeArrival}}</li>
		<li style="margin: 0px;" class="text-no-wrap">{{departureTranslated}}: {{formattedrealtimeDeparture}}</li>
	</ul>
</script>

<script id="otp-intermediateStopsLayer-popupOneTimeElement" type="text/html">
    <ul class="timeList">
    	<li style="margin: 0px;" class="text-no-wrap">{{timeElementName}}: {{timeValue}}</li>
	</ul>
</script>

<script id="otp-intermediateStopsLayer-popupRouteHeader" type="text/html">
    <b>{{routes_on_stop}}</b>:
    <ul class="routeList"/>
</script>

<script id="otp-intermediateStopsLayer-popupRoute" type="text/html">
    <li style="margin: 0px;">
        {{#shortName}}
            ({{shortName}})
        {{/shortName}}
        {{longName}}
    </li>
</script>