.leaflet-control-panel-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-control-panel {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}	
.leaflet-control-panel-toggle {
	/*background-image: url(images/layers.png);*/
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-panel-toggle {
	/*background-image: url(images/layers-2x.png);*/
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-panel-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-panel .leaflet-control-panel-list,
.leaflet-control-panel-expanded .leaflet-control-panel-toggle {
	display: none;
	}
.leaflet-control-panel-expanded .leaflet-control-panel-list {
	display: block;
	position: relative;
	}
.leaflet-control-panel-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-panel-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-panel label {
	display: block;
	}
.leaflet-control-panel-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}
.leaflet-control-panel-list {
	overflow: auto;
	overflow-y: auto;
	max-height: 80vh;
}
.leaflet-touch .leaflet-control-panel {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-panel {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}
.leaflet-oldie .leaflet-control-panel {
	border: 1px solid #999;
	}