@CHARSET "UTF-8";

ul.ui-autocomplete {
    z-index: 1000 !important;
}

.journey-results {
  padding: 0;
  margin: 0;
  min-width: 200px;
  font: 12px Montserrat, sans-serif;
}

.journey-results-element {
  position: relative;
  /*margin: 0;*/
  margin-top: 5px;
  margin-bottom: 5px;
  /*padding-bottom: 10px;*/
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: inherit;
  border: 1px solid;
  border-radius: 5px;
}

ol>li:hover .journey-results-element {
  background: LightCyan;
  cursor: pointer;
}

.journey-selected {
  background: LightBlue;
}

.train-n-time-seq {
  display: inline-block;
  width:100%;
  box-sizing: inherit;
}
.train-n-time {
  float: left;
  width:70px;
}
.train-time {
  font: 12px Montserrat, sans-serif;
  /*margin: 10 auto 10 auto;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.train-img {
  /*display: block;*/  
  width: 50px;
  height: 50px;
  background: url(/images/mode/Train-bw.png) center no-repeat;
  background-size: 50px 45px;
}
.train-duration-block {
  width: 100%;
  font: 12px Montserrat, sans-serif;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.train-duration-label {
  /*float: right;*/
}
.train-duration-value {
  float: right;
  font: 12px Montserrat, sans-serif;  
}
.train-up-dn-lbl {
  float: left;
  /*min-width:70px;*/
  font: 12px Montserrat, sans-serif;
  background-color: red;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

.locSelector-start-end-reverseButton-container {
  display: inline-flex;
  flex-direction: row-reverse;
}
.locSelector-start-end-container {
  flex: 1;
}
.locSelector-reverseButton:before {    
    background: url(/images/1484808049_ic_swap_vert_48px.svg);
    background-size: 20px 20px;
    /*cursor: pointer;
    padding-top: 10px;*/
}
.bt-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    /*margin-right: 5px;*/
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}
.journey-details-element {
  position: relative;
  /*margin: 0;*/
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 5px;
  box-sizing: inherit;
  border: 1px solid;
  border-radius: 5px;
  font: 12px Montserrat, sans-serif;
}
.journey-details-element {
  display: inline-flex;
  flex-direction: column;
  width:100%;
}
.journey-details-itinerary {
  font: 18px Montserrat, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.journey-details-station,
.journey-details-leg-section,
.journey-details-leg-info-last-row,
.journey-details-leg-stop,
.journey-details-leg-stop-name-and-time,
.intermediateStopsLayer-popup-route-n-time {
  display: inline-flex;
  flex-direction: row; 
}
.journey-details-leg-trip-stops {
  display: inline-flex;
  flex-direction: column; 
}
.journey-details-station {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  /*width:100%;*/
  box-sizing: inherit;
  padding-left: 20px;
}
.journey-details-station-name {
  /*display: inline-block;*/
  vertical-align: middle;
  /*height:100%;*/
  font: 12px Montserrat, sans-serif;
  font-weight: bold;
  color: #404040;
}
.journey-details-station-time-n-nextday {
    vertical-align: middle;
    text-align: center; 
}
.journey-details-arrive-time-n-nextday {
    text-align: right; 
}
.journey-details-station-time {
  font: 12px Montserrat, sans-serif;
  font-weight: bold;
  /*float: right;*/
  color: #404040;
}

.journey-details-leg-section {
  flex-wrap: nowrap;
  /*width:100%;*/
  box-sizing: inherit;
  padding-left: 20px;
}
.journey-details-leg-vertical-line{
  border: solid black 2px;
  border-radius: 2px;
  margin-left: 23px;
  padding: 0;
  color: #404040;
}
.journey-details-leg-info {
  display: inline-flex;
  flex-direction: column;
  /*justify-content: space-between;
  align-items: stretch;*/
  flex-wrap: nowrap;
  margin-left: 10px;
}
.journey-details-leg-info span,
.journey-details-leg-stop-name,
.journey-details-leg-stop-time,
.journey-details-station-nextday,
.journey-details-arriveText {
  font: 12px Montserrat, sans-serif;
}
.journey-details-leg-shortId,
.journey-details-leg-towards,
.journey-details-leg-stop-name,
.journey-details-leg-stop-time {
  font-weight: bold;
}
.journey-details-leg-shortId {
  color: #FF0000;
}
.journey-details-leg-towards {
  color: #404040;
}
.journey-details-leg-duration {
  color: #404040;
}
.journey-details-leg-info-last-row {  
  align-items: center;
}
.journey-details-leg-stop {
  flex-wrap: nowrap;
  box-sizing: inherit;
  padding-left: 20px;
}
.journey-details-leg-stop-name-and-time {
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: 1;
  /*align-items: flex-start;*/
  align-items: center;
  /*box-sizing: inherit;*/
  margin-left: 10px;
}
.journey-details-leg-stop-time,
.journey-details-station-nextday {
    color: #FF6A00;
}
.journey-details-arrive-label-set {
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  margin-left: 10px;
}

.intermediateStopsLayer-popup-route-n-time {
  flex-wrap: nowrap;
}

.text-no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

.timeList { padding:0px; }

.triangle-down-img {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    background: url(/images/mode/triangle-down.png) no-repeat;
    background-size: 20px 20px;
    color: #808080;
}
.triangle-up-img {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    background: url(/images/mode/triangle-up.png) no-repeat;
    background-size: 20px 20px;
    color: #808080;
}

/*#timepickerTripPlanner,
#datepickerTripPlanner {
  width: initial;
}*/

div.bootstrap-timepicker span.input-group-addon, div.bootstrap-timepicker span.input-group-btn,
#datepickerTripPlannerDiv .input-group-addon, #datepickerTripPlannerDiv.input-group-btn {
    width: initial;
}

/*#locSelector-start < div:last-child, #locSelector-stop<div>span.input-group-btn,*/
.locSelector .input-group-btn {
    width: initial;
}