.contact-us-logo {
	display:inline-block;    
	float : left;
}

.contact-us-circle { 
	width: 50px;
	height: 50px;
	background: #1DA1F2; 
	-moz-border-radius: 25px; 
	-webkit-border-radius: 25px; 
	border-radius: 25px;
	text-align:center;
	text-align: -moz-center;
	text-align: -webkit-center;
	line-height: 40px;
}

.contact-us-circle span {  
    font-size: 2em;
    color: white;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;    
}

.contact-us-twitter-logo {
	display: block;
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	background: url(images/Twitter_Logo_Blue.svg);
	background-size: 50px 50px;
	background-repeat: no-repeat;
}

.contact-us-fb-logo {
	display: block;
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	background: url(images/logo/FB-f-Logo__blue_50.png);
	//background-size: 140px 140px;
	background-repeat: no-repeat;
}