<script id="otp-journeyresults-panel" type="text/html">
<div id="tripPlannerPanel">
<h4 class="text-center">{{Plan your journey}}</h4>
<div class="form-group locSelector"><div class="input-group">
	<input type="text" id="locSelector-start" placeholder="Leaving from ..." name="leaving_from" class="form-control input-small ui-autocomplete-input" autocomplete="off">
	<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
	<span class="input-group-btn">
		<button type="button" class="btn bt-image locSelector-reverseButton">&nbsp;</button>
	</span>
</div></div>
<div class="form-group locSelector"><div class="input-group">
	<input type="text" id="locSelector-stop" placeholder="Going to ..." name="going_to" class="form-control input-small ui-autocomplete-input" autocomplete="off">
	<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
	<span class="input-group-btn">
		<button id="clearStartEndLocationsBtn" type="button" class="btn">
			<span class="glyphicon glyphicon-remove"></span>&nbsp;
		</button>
	</span>
</div></div>
<div class="form-group">
<select class="form-control" name="when" id="when">{{#whenList}}<option value="{{value}}" {{#selected}}selected{{/selected}}>{{description}}</option>{{/whenList}}</select>
</div>
<div class="form-group">
	<div class="input-group bootstrap-timepicker timepicker hide">
        <input id="timepickerTripPlanner" type="text" class="form-control input-small">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-time"></i>
        </span>
    </div>
</div>
<div class="form-group">
	<div id="datepickerTripPlannerDiv" class="input-group date hide" data-provide="datepicker">
	    <input id="datepickerTripPlanner" type="text" class="form-control">
	    <div class="input-group-addon">
	        <span class="glyphicon glyphicon-th"></span>
	    </div>
	</div>
</div>
<button class="btn btn-primary btn-block" type="button" id="buttonGo">{{Plan Your Trip}}</button>
</div>
<div id="journeyResults" class="hide">
	<button class="btn btn-primary btn-block" type="button" id="buttonReturnToTripPlanner">{{Return to Trip Planner}}</button>
	<ol class="journey-results"></ol>
</div>
</script>

<script id="otp-journeyresults-result" type="text/html">
<li>
	<div class="journey-results-element">
		<div class="train-duration-block">
			<span class="train-duration-label">{{duration_text}}:{{duration}}</span>
		</div>
		<div id="{{legSeqId}}" class="train-n-time-seq">
			<!--div class='train-n-time'>
				<div class="train-img center-block"></div>
				<div class="train-time center-block">17:05</div>
			</div>
			<div class='train-up-dn-lbl center-block'>{{headsign}}</div>
			<div class='train-n-time'>
				<div class="train-img center-block"></div>
				<div class="train-time center-block">17:05</div>
			</div-->
		</div>
	</div>
</li>
</script>

<script id="otp-journeyresults-leg" type="text/html">
<div class='train-n-time'>
	<div class="train-img center-block"></div>
	<div class="train-time center-block">{{startTime}}</div>
</div>
<div class='train-up-dn-lbl center-block'>{{routeShortName}}</div>
<div class='train-n-time'>
	<div class="train-img center-block"></div>
	<div class="train-time center-block">{{endTime}}{{endTimeAdditional}}</div>
</div>
</script>

<script id="otp-journeyresults-details-element" type="text/html">
<li>
<div class="journey-details-element">
  <div class="journey-details-itinerary">
    <span class="journey-details-itinerary-txt">{{startTime}} - {{endTime}} {{timeAdditional}}</span>
  </div>
</div>
</li>
</script>
<script id="otp-journeyresults-details-stop" type="text/html">
  <div class="journey-details-station">
    <div class="train-img"></div>
    <div class="journey-details-station-name"><span>{{stopName}}</span></div>
    <!--div><span class="journey-details-station-time">{{stopTime}}</span></div-->
    <div class="journey-details-station-time-n-nextday">
    	<span class="journey-details-station-time">{{stopTime}}</span>
		{{#nextDay}}<br/>
    	<span class="journey-details-station-nextday">({{nextDay}})</span>
    	{{/nextDay}}
    </div>
  </div>
{{#showLeg}}
	<div class="journey-details-leg-section">
    	<div class='journey-details-leg-vertical-line'></div> 
    	<div class="journey-details-leg-info">
			<span class='journey-details-leg-shortId'>{{routeShortName}}</span>
			<span class='journey-details-leg-agencyName'>{{agencyName}}</span>
			<span class='journey-details-leg-towards'>{{towards_text}} {{towardsStop}}</span>
			<span class='journey-details-leg-duration'>{{duration_text}}: {{duration}}</span>
			<div class="journey-details-leg-info-last-row"><span>{{stops_text}}: {{stopsAmount}}</span> <div class="triangle-down-img"></div><div class="triangle-up-img hide"></div></div>
		</div>
	</div>
	<div id="journey-details-leg-trip-stops{{tripId}}" class="journey-details-leg-trip-stops"></div>
	{{#showLegArrivalTime}}
	<div class="journey-details-leg-stop">
	   	<div class='journey-details-leg-vertical-line'></div>
	   	<div class='journey-details-arrive-label-set'>
			<div class="journey-details-arrive-time-n-nextday">
				<span class="journey-details-arriveText">{{arriveText}}</span>
	    		<span class="journey-details-station-time">{{legStopTime}}</span>
				{{#legNextDay}}<br/>
    			<span class="journey-details-station-nextday">({{legNextDay}})</span>
    			{{/legNextDay}}
    			<br/>
		    	<span class="journey-details-transferDurationLabel">{{transferDurationLabel}}</span>
		    	<span class="journey-details-station-transferDurationValue">{{transferDurationValue}}</span>
	    	</div>
	   	</div>
  	</div>
	{{/showLegArrivalTime}}
{{/showLeg}}
</script>
<script id="otp-journeyresults-details-leg-stop" type="text/html">
<div class="journey-details-leg-stop">
	<div class='journey-details-leg-vertical-line'></div>
	<div class='journey-details-leg-stop-name-and-time'>
		<div class='journey-details-leg-stop-name'><span>{{stopName}}</span></div>
		<!--div class='journey-details-leg-stop-time'><span>{{stopTime}}</span></div-->
	</div>
</div>
</script>
<script id="journey-details-leg-stop-time" type="text/html">
	<div class='journey-details-leg-stop-time'><span>{{arrival}} - {{departure}}</span></div>
</script>